<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <div class="container">
            <p>Hello <strong>
                    
                </strong></p>
            <p>Please click on below link to resent your password.</p>
            
            
            <a href="<%- url %>" target="_blank">Click here to verify your email</a>
            
            <p><strong>Note: This link is valid for 2 Hours only</strong></p>
            <p><%- url %></p>
            
            <p>If you have any query then let us know. we are here to help you</p>
            <%- include('../partials/footer'); %>
        </div>
    </body>

</html>